.home-card-text{
    color: #000000 !important;
}

.home-card{
    border-color: #000000 !important;
    background-color: #e0fbfc !important;
    width: 18rem;
}

.title-margin{
    margin-bottom: 3em;
}