.custom-nav{
    background-color: #293241; 
    padding-top: 1rem; 
    padding-bottom: 1rem;
}

.container.nav-container{
    margin-left: 0% !important;
}

a.custom-link{
    color: #98c1d9 !important;
    text-decoration: none !important;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

a:hover.custom-link{
    color: #e0fbfc !important;
}